<h1>Login</h1>
{{#if message}}
<h4>{{this.message}}</h4>
{{/if}}

<form action="/login" method="post">
<input type="email" name="email"  required placeholder="Enter Email">
<br><br>
<input type="password" name="password" required placeholder="Enter Password">
<br><br>
<input type="submit" value="Login">

</form>